*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.container_header{
    height: 70px;
    background-color: #2C3E50;
    width: 100%;
}

.header_top{
    height: 100%;
}

.nav_top{
    height: 100%;
    align-content: center;
    color: white;
}


.title{
    font-weight: bold;
}

.info{
    display: flex;
}


/* main */
.container-presentation{
    height: 500px;
    background-color: #1ABC9C;
}