*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.ms_navbar_color{
    background-color: #2C3E50;
}
 
.ms_navbar_brand_color{
    color: white;
}


/* main */
.container-presentation{  
    background-color: #1ABC9C;
    color: white;
}

.ms_element_img{
    width: 250px;
}

.ms_star{
    max-width: 400px;
    min-width: 100%;
}

.ms_star:before
.ms_star:after{
    content: '';
    display: inline-block;
    width: 15%;
    height: 4px;
    line-height: 4px;
    background-color: white;
}

/* portfolio */
.img_size{
    width: 100%;
    border-radius: 15px;
}

 .img_contain div{
    background-color: aquamarine;
}


/* about */
.ms_bg{
    background-color: #1ABC9C;
    color: white;
}

.ms_bottom{
    color: white;
}
/* contact me */
.form_border{
    border-bottom: 1px solid grey;
}
/* footer */
.ms_container_footer{
    background-color: #3A546D;
    color: white;
}