*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.container_header{
    height: 70px;
    background-color: #2C3E50;
    width: 100%;
}

.header_top{
    height: 100%;
}

.nav_top{
    height: 100%;
    align-content: center;
    color: white;
}


.title{
    font-weight: bold;
}

.info{
    display: flex;
}


/* main */
.container-presentation{
    
    background-color: #1ABC9C;
}

.title_2{
    text-align: center;
}

.container-portfolio{
    
}

.img_column{
    height: 165px;
}

 .img_contain div{
    background-color: aquamarine;
}